@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
  }

html,body{
    background: linear-gradient(45deg, #00bcd4, #ffeb3b);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
}
.navbar ul{
    margin: 0;
}
.navbar img{
    width: auto;
    height: 20vh;
    color: black;
    margin-left: 20PX;
    filter: drop-shadow(10px 5px 8px #535353 );
    transition: 0.5s all ease;
}
.navbar ul li a::after{
    content: '';
    width: 0;
    height: 30px;
    background: #CA226B;
    position: absolute;
    left: -6px;
    bottom: -3px;
    transition: 0.5s;
    z-index: -1;
    border-radius: 20px;
    
}
.navbar ul li a:hover{
    transform: scale(1.1);
    color: rgb(199, 199, 199);
    transition: 0.5s;
    
}
.navbar ul li a:hover::after{
    width: 115%;
    transition: 0.5s;
}
.navbar ul li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    margin-right: 100PX;
    margin-top: 55px;
    font-size: 2.5vh;
    list-style-type: none;
    display: inline-block;
    font-weight: 400;
    color: #464646;
    list-style-type: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #464646;
    position: relative;
    transition: 0.5s;
}

.container {
    margin: 0;
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
    height: 100%;
    width: 100%;
}

.container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 460px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}

.container .card:hover{
    height: 510px;
    transform: scale(1.05);
}

.container .card .imgbx{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 370px;
    background: #333;
    border-radius: 12px;
    transition: 0.5s;
}

.container .card:hover .imgbx{
    top: -130px;
    height: 365px;
    scale: 0.80;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}

.container .card .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container .card .content{
    position: absolute;
    top: 405px;
    width: 100%;
    padding: 0 30px;
    height: 33px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.container .card:hover .content {
    top: 250px;
    height: 250px;
}

.container .card .content h2{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--clr);
}

.container .card .content p{
    margin-top: 25px;
    color: #333;
    font-size: 1.05em;
}

.container .card .content a{
    margin-top: 25px;
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background-color: var(--clr);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}

/*-----------------------------css for smalll screen------------------*/

@media only screen and (max-width: 700px){
    body{
        background: linear-gradient(45deg, #00bcd4, #ffeb3b);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
    }

    .navbar img{
        width: 17vh;
        height: 10vh;
        color: black;
        margin-left: 20PX;
        filter: drop-shadow(10px 5px 8px #535353 );
        cursor: pointer;
        transition: 0.5s all ease;
    }

    .navbar ul li{
        margin-top: 30px;
        margin-right: 15px;
        font-size: 15px;
        font-weight: 300;
    }

    .container {
        margin-top: 80px;
        gap: 150px 50px;
        height: 100%;

    }

    .container .card{
        height: 350px;
        width: 260px;
    }

    .container .card:hover{
        height: 350px;
    }

    .container .card .imgbx{
        position: absolute;
        top: 20px;
        width: 200px;
        height: 270px;
        background: #333;
        border-radius: 12px;
        transition: 0.5s;
    }
    
    .container .card:hover .imgbx{
        top: -90px;
        height: 265px;
    }

    .container .card .content{
        top: 300px;
    }
    .container .card:hover .content {
        top: 165px;
        height: 160px;
    }

    .container .card .content h2{
        font-size: 1.1em;
    }
    .container .card .content p{
        margin-top: 5px;
        font-size: 0.7em;
    }

    .container .card .content a{
        margin-top: 5px;
        padding: 8px 15px;
    }
}
